/*
 * Machine Readable Framework for Learning Standards and Competencies Service OpenAPI (JSON) Definition
 *
 * The Machine Readable Framework for Learning Standards and Competencies Service enables the exchange of data between a Competency Records Service Provider and the consumers of the associated data. This service has been described using the IMS Model Driven Specification development approach: this being the Platform Specific Model (PSM) of the service.
 *
 * OpenAPI spec version: 1.0
 * Contact: lmattson@imsglobal.org
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using com.eLumen.CF.Models;

namespace com.eLumen.CF.Controllers
{ 
    /// <summary>
    /// Not implemented
    /// </summary>
    public class DefinitionsManagerApiController : Controller
    { 

        /// <summary>
        /// The REST read request message for the getCFAssociationGrouping() API call.
        /// </summary>
        /// <remarks>This is a request to the Service Provider to provide the specified Competency Framework Association Grouping.  If the identified record cannot be found then the &#39;unknownobject&#39; status code must be reported.</remarks>
        /// <param name="sourcedId">The GUID that identifies the Competency Framework AssociationGrouping that is to be read from the service provider.</param>
        /// <response code="200">...tbd...</response>
        /// <response code="0">StatusInfo Error Report</response>
        [HttpGet]
        [Route("/ims/mrflsc/v1p0/CFAssociationGroupings/{sourcedId}")]
        [SwaggerOperation("GetCFAssociationGrouping")]
        [SwaggerResponse(200, type: typeof(CFAssociationGroupingType))]
        public virtual IActionResult GetCFAssociationGrouping([FromRoute]string sourcedId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<CFAssociationGroupingType>(exampleJson)
            : default(CFAssociationGroupingType);
            return new ObjectResult(example);
        }


        /// <summary>
        /// The REST read request message for the getCFConcept() API call.
        /// </summary>
        /// <remarks>This is a request to the Service Provider to provide the specified Competency Framework Concept.  If the identified record cannot be found then the &#39;unknownobject&#39; status code must be reported.</remarks>
        /// <param name="sourcedId">The GUID that identifies the Competency Framework Concept that is to be read from the service provider.</param>
        /// <response code="200">...tbd...</response>
        /// <response code="0">StatusInfo Error Report</response>
        [HttpGet]
        [Route("/ims/mrflsc/v1p0/CFConcepts/{sourcedId}")]
        [SwaggerOperation("GetCFConcept")]
        [SwaggerResponse(200, type: typeof(CFConceptType))]
        public virtual IActionResult GetCFConcept([FromRoute]string sourcedId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<CFConceptType>(exampleJson)
            : default(CFConceptType);
            return new ObjectResult(example);
        }


        /// <summary>
        /// The REST read request message for the getCFItemType() API call.
        /// </summary>
        /// <remarks>This is a request to the Service Provider to provide the specified Competency Framework Item Type.  If the identified record cannot be found then the &#39;unknownobject&#39; status code must be reported.</remarks>
        /// <param name="sourcedId">The GUID that identifies the Competency Framework ItemType that is to be read from the service provider.</param>
        /// <response code="200">...tbd...</response>
        /// <response code="0">StatusInfo Error Report</response>
        [HttpGet]
        [Route("/ims/mrflsc/v1p0/CFItemTypes/{sourcedId}")]
        [SwaggerOperation("GetCFItemType")]
        [SwaggerResponse(200, type: typeof(CFItemTypeType))]
        public virtual IActionResult GetCFItemType([FromRoute]string sourcedId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<CFItemTypeType>(exampleJson)
            : default(CFItemTypeType);
            return new ObjectResult(example);
        }


        /// <summary>
        /// The REST read request message for the getCFLicense() API call.
        /// </summary>
        /// <remarks>This is a request to the Service Provider to provide the specified Competency Framework License.  If the identified record cannot be found then the &#39;unknownobject&#39; status code must be reported.</remarks>
        /// <param name="sourcedId">The GUID that identifies the Competency Framework License that is to be read from the service provider.</param>
        /// <response code="200">...tbd...</response>
        /// <response code="0">StatusInfo Error Report</response>
        [HttpGet]
        [Route("/ims/mrflsc/v1p0/CFLicenses/{sourcedId}")]
        [SwaggerOperation("GetCFLicense")]
        [SwaggerResponse(200, type: typeof(CFLicenseType))]
        public virtual IActionResult GetCFLicense([FromRoute]string sourcedId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<CFLicenseType>(exampleJson)
            : default(CFLicenseType);
            return new ObjectResult(example);
        }


        /// <summary>
        /// The REST read request message for the getCFSubject() API call.
        /// </summary>
        /// <remarks>This is a request to the Service Provider to provide the specified Competency Framework Subject.  If the identified record cannot be found then the &#39;unknownobject&#39; status code must be reported.</remarks>
        /// <param name="sourcedId">The GUID that identifies the Competency Framework Subject that is to be read from the service provider.</param>
        /// <response code="200">...tbd...</response>
        /// <response code="0">StatusInfo Error Report</response>
        [HttpGet]
        [Route("/ims/mrflsc/v1p0/CFSubjects/{sourcedId}")]
        [SwaggerOperation("GetCFSubject")]
        [SwaggerResponse(200, type: typeof(CFSubjectType))]
        public virtual IActionResult GetCFSubject([FromRoute]string sourcedId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<CFSubjectType>(exampleJson)
            : default(CFSubjectType);
            return new ObjectResult(example);
        }
    }
}
